@keyframes login {
  0% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: scale(5) translate(-50%, -50%);
  }
  49% {
    opacity: 0;
  }
  50% {
    color: #eee;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: scale(10) translate(-10%, -10%);
  }
  100% {
    top: 0.2rem;
    left: 2rem;
    transform: scale(1);
    color: #777;
  }
}
@keyframes form {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  80% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*   font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.btn-group {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-left: 2rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.btn__login {
  background-image: linear-gradient(to right bottom, #6355e2, #d16b68);
}
.btn__signup p {
  background-image: linear-gradient(to right, #d16b68, #6355e2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.btn__signup:hover p {
  color: #fff;
}

.card {
  width: 70%;
  max-width: 50rem;
  margin: 0 auto;
  /*   height: 30rem; */
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: skewX(-12deg);
}
.card__data {
  max-width: 100%;
  transform: skewX(12deg);
  /*     height: 24rem; */
  padding-top: 6rem;
}
.card__header {
  position: absolute;
  top: 0.2rem;
  left: 2rem;
  animation: login 1.5s ease-in-out;
  color: #777;
  font-size: 1.6rem;
}
.card__title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.form {
  animation: form 2s ease-out;
  backface-visibility: hidden;
}
.form__group:not(:nth-child(2)) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 3px solid #fff;
  border-radius: 0.2rem;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #2ed573;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff652f;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.secton-login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #6355e2, #d16b68);
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56.2%;
  }
}
@media only screen and (max-width: 680px) {
  html {
    font-size: 50%;
  }
  .card {
    width: 90%;
    transform: none;
  }
  .card__data {
    transform: none;
  }
  .card__header {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  @keyframes login {
    0% {
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: scale(4) translate(-50%, -50%);
    }
    49% {
      opacity: 0;
    }
    50% {
      color: #eee;
      opacity: 0.5;
      top: 50%;
      left: 50%;
      transform: scale(8) translate(-10%, -10%);
    }
    100% {
      top: 1.5rem;
      left: 50%;
      transform: translateX(-50%) scale(1);
      color: #777;
    }
  }
}

/*# sourceMappingURL=style.css.map */
